<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Walli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F462D0D01C1CA5EB00D88383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F462D0E91C1CA5EC00D88383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F462D0F41C1CA5EC00D88383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
